name: Test and Deploy

on:

  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:

  test_n_deploy:

    runs-on: ubuntu-latest

    steps:

      - name: Checkout
        uses: actions/checkout@v2.4.2

      - name: Run unit tests
        run: ./mvnw test

      - name: Deploy to heroku
      - name: Install Heroku CLI
        run: curl https://cli-assets.heroku.com/install.sh | sh
        
      - name: Deploy to heroku
      - uses: akhileshns/heroku-deploy@v3.14.15
        with:
          heroku_api_key: ${{ secrets.HEROKU_API_KEY }}
          heroku_email: ${{ secrets.HEROKU_MAIL }}
          heroku_app_name: isst-grupo08-track-controller

      - name: Use Node.js 17.x
        uses: actions/setup-node@v3
        with:
          node-version: 17.x

      - name: Install newman
        run: npm install -g newman

      - name: Run integration tests
        working-directory: ./integrationTests
        run: newman run Trackermaster.postman_collection.json --color on
